@charset "UTF-8";
/* reset */
html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden visible;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

input, button, textarea {
  outline: none;
}

button {
  border: none;
}

ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

ul li:first-child {
  margin-left: 0;
  margin-top: 0;
}

.text p:last-child {
  margin-bottom: 0;
}

.btn a, .btn button {
  cursor: pointer;
  display: inline-block;
}

/* Мои классы */
.body-stop {
  overflow: hidden !important;
}

.hidden {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* для маленьких мониторов и больших планшетов и обычных планшетов в горизонтальной ротации */
/* т.е мониторы и плашеты (1024-1260) */
@media screen and (max-width: 1260px) {
  .container {
    width: 950px;
  }
}

/* для обычных планшетов в вертикальной ротации */
/* т.е плашеты (650-991) */
@media screen and (max-width: 991px) {
  .container {
    width: 620px;
  }
}

/* для телефонов */
/* т.е телефоны (320-650) */
@media screen and (max-width: 650px) {
  .container {
    width: 290px;
  }
}

/* Элементы формы */
.button {
  transition: 0.2s ease;
  border-radius: 5px;
}

.button--disabled {
  background: #DEDBE1;
  color: #7E7984;
  cursor: default;
}

.button--color-default {
  background: #612BD3;
  color: #fff;
}

.button--color-default:hover {
  background: #5126AC;
}

.button--color-dark {
  background: #391881;
  color: #fff;
}

.button--color-dark:hover {
  background: #612BD3;
}

.button--color-pink {
  background: #F5F0FF;
  color: #612BD3;
}

.button--color-pink:hover {
  background: #EEE5FF;
}

.button--size-small {
  padding: 8px 16px;
  font-size: 14px;
}

.button--size-regular {
  padding: 10px 18px;
  font-size: 16px;
}

.button--size-medium {
  padding: 10px 20px;
  font-size: 18px;
}

.button--size-large {
  padding: 12px 24px;
  font-size: 20px;
}

.button--style-bordered {
  border: 3px solid;
}

.field--def {
  display: inline-block;
  width: 100%;
  height: 100%;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #000;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000;
}

/* Чекбокс */
.checkbox {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.checkbox input[type=checkbox]:hover {
  display: inline-block;
}

.checkbox input[type=checkbox]:checked {
  background: url(../img/checkbox-checkmark.png) no-repeat center center;
}

.checkbox input[type=checkbox]:disabled {
  filter: grayscale(80%);
}

/* Радио кнопка */
.radio input[type=radio] {
  display: none;
}

.radio label {
  display: flex;
  align-items: center;
  color: green;
}

.radio label:before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.radio input[type=radio]:checked + label:before {
  background: url(../img/checkbox-checkmark.png) no-repeat center center;
}

.radio label:hover:before {
  display: inline-block;
}

.radio input[type=radio]:disabled + label:before {
  filter: grayscale(100%);
  background: red;
}

/* thumbler */
.tumbler__switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 36px;
  height: 22px;
  padding: 3px;
  border-radius: 50px;
  vertical-align: top;
  transition: .2s;
  background: #DBDBDB;
  cursor: pointer;
}

.tumbler__switch:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background: white;
  transition: .15s;
}

.tumbler input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.tumbler input[type=checkbox]:checked + .tumbler__switch {
  background: #75A55F;
}

.tumbler input[type=checkbox]:checked + .tumbler__switch:before {
  transform: translateX(14px);
}

/* select */
.select__head {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.select__head--active .select__ungle {
  transform: rotate(180deg);
}

.select__box {
  display: none;
}

.select__box--active {
  display: block;
}

.select__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 5px 20px;
  border: 1px solid #ccc;
}

.select__ungle {
  margin-left: auto;
}

.select__item--curent {
  color: red;
}

/* inputfile */
.upload-has__delete {
  display: none;
}

.upload-has__delete--open {
  display: block;
}

/* Body */
/* Заголовки */
.title--def {
  color: #000;
}

/* Кнопки */
.btn--def {
  display: inline-block;
}

.btn--def:hover {
  display: inline-block;
}

/* Текст */
.text--def {
  color: #000;
}

.text-area p:last-child {
  margin-bottom: 0;
}

/* Табы */
.tabs__links--def {
  display: flex;
}

.tabs__link--def {
  display: inline-block;
}

/* Слайдер */
.slider-arrows--def {
  display: flex;
  justify-content: space-between;
}

.slider-dots--def .slick-dots {
  display: flex;
  justify-content: center;
}

.slider-dots--def .slick-dots li {
  margin: 0 5px;
}

.slider-dots--def .slick-dots li button {
  display: inline-block;
  background: gray;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.slider-dots--def .slick-dots li.slick-active button {
  background: green;
}

.slick-arrow {
  cursor: pointer;
}

/* strukture */
