.slider {
  position: relative;
}

.slick-arrow {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  background: tomato;
}

.slick-arrow svg {
  width: 30px;
  height: 50px;
}

.slick-arrow svg:hover {
  fill: orange;
}

.slick-prev {
  left: -80px;
}

.slick-next {
  right: -80px;
}
